Repository stevenengland/photogrepo: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamllint, black, mypy

.pre-commit-config.yaml:

---
repos:
  - repo: local
    hooks:
      - id: yamllint
        name: yamllint
        entry: |
          yamllint -c=.yamllint.yml .
        language: system
        types: [yaml]
        pass_filenames: false

      - id: black
        name: black
        entry: |
          black .
        language: system
        types: [python]
        pass_filenames: false

      - id: mypy
        name: mypy
        entry: |
          mypy .
        language: system
        types: [python]
        pass_filenames: false

chore(docker): add empty docker files
  .dockerignore
  Dockerfile
Due: none

chore: custom wemake-django-template rampup
  .github/dependabot.yml
  .gitignore
  .vscode/settings.json
  Makefile
  app/__init__.py
  app/analyzer/__init__.py
  app/consumer/__init__.py
  app/core/__init__.py
  app/housekeeper/__init__.py
  app/main/__init__.py
  app/main/templates/main/index.html
  app/main/urls.py
  app/main/views.py
  config/asgi.py
  config/settings/__init__.py
  config/settings/components/__init__.py
  config/settings/components/caches.py
  config/settings/components/common.py
  config/settings/components/csp.py
  config/settings/components/logging.py
  config/settings/environments/__init__.py
  config/settings/environments/development.py
  config/settings/environments/local.py.template
  config/settings/environments/production.py
  config/settings/environments/test.py
  config/urls.py
  config/wsgi.py
  docs/component_abstraction.md
  docs/use_case_abstraction.md
  manage.py
  photogrepo.conf.template
  requirements/base.txt
  requirements/constraints.txt
  requirements/dev.txt
  setup.cfg
  tests/conftest.py
  tests/test_rampup.py
  tests/test_settings.py
Due: yamllint, black, mypy

refactor: remove main app
  app/main/__init__.py
  app/main/templates/main/index.html
  app/main/urls.py
  app/main/views.py
  config/urls.py
Due: black, mypy

style: apply black and isort, flake8
  .vscode/settings.json
  app/common/__init__.py
  app/common/apps.py
  app/common/models.py
  app/common/services.py
  app/common/types.py
  app/core/apps.py
  app/core/exceptions.py
  app/users/__init__.py
  app/users/apps.py
  app/users/models.py
  app/users/services.py
  config/asgi.py
  config/settings/__init__.py
  config/settings/components/__init__.py
  config/settings/components/caches.py
  config/settings/components/common.py
  config/settings/components/csp.py
  config/settings/components/logging.py
  config/settings/environments/development.py
  config/settings/environments/production.py
  config/settings/environments/test.py
  config/urls.py
  config/wsgi.py
  manage.py
  requirements/constraints.txt
  setup.cfg
  tests/conftest.py
  tests/test_rampup.py
  tests/test_settings.py
  tests/unittests/apps/users/services/test_user_create.py
Due: black, mypy

refactor(common): move services to dedicated dir
  app/common/services/__init__.py
  app/common/services/model_update_service.py
  app/users/services.py
Due: black, mypy

refactor(common): remove core app in favor of common app
  app/common/exceptions.py
  app/core/__init__.py
  app/core/apps.py
  config/settings/components/common.py
Due: black, mypy

feat(FileSystemService): add copy_file function
  app/common/models.py
  app/common/services/file_system_service.py
  app/common/services/file_system_service_interface.py
  app/users/models.py
  requirements/base.txt
  requirements/constraints.txt
  requirements/dev.txt
  setup.cfg
  tests/unittests/apps/common/services/test_file_system_service.py
Due: black, mypy

feat(PhotoConsumerService): begin implementation with skeleton
  .pre-commit-config.yaml
  app/photos/services/__init__.py
  app/photos/services/consumer_service_interface.py
  app/photos/services/photo_consumer_service.py
  config/settings/__init__.py
  config/settings/components/photogrepo.py
  requirements/base.txt
  requirements/constraints.txt
  tests/test_settings.py
Due: yamllint, black, mypy

ci: add yamllint
  requirements/constraints.txt
  requirements/dev.txt
Due: none

feat: add di skeleton from tutorial
  .vscode/settings.json
  app/__init__.py
  app/containers.py
  app/photos/apps.py
  app/photos/services/photo_consumer_service.py
  config/settings/components/photogrepo.py
  requirements/base.txt
  requirements/constraints.txt
  tests/unittests/apps/photos/services/test_photo_consumer_service.py
Due: black, mypy

chore: non working progess
  app/__init__.py
  app/ioc_containers.py
  app/photos/__init__.py
  app/photos/apps.py
  app/photos/services/photo_consumer_service.py
  tests/unittests/apps/photos/services/test_photo_consumer_service.py
Due: black, mypy

chore: min. runnable solut. in common w/o working wiring
  app/__init__.py
  app/common/__init__.py
  app/common/apps.py
  app/common/ioc_containers.py
  app/ioc_containers.py
  app/photos/services/photo_consumer_service.py
  config/settings/components/common.py
  tests/unittests/apps/photos/services/test_photo_consumer_service.py
Due: black, mypy

chore: first working di example
  Makefile
  app/__init__.py
  app/common/__init__.py
  app/common/apps.py
  app/common/ioc_containers.py
  app/common/services/logging_service.py
  app/common/services/logging_service_interface.py
  app/photos/services/photo_consumer_service.py
  app/versions.py
  setup.cfg
  tests/unittests/apps/photos/services/test_photo_consumer_service.py
Due: black, mypy

refactor(vars): rename vars with domain prefix
  config/settings/__init__.py
  config/settings/components/common.py
  config/settings/components/photogrepo.py
  config/settings/environments/development.py
  config/settings/environments/production.py
  config/settings/environments/test.py
  photogrepo.conf.template
Due: black, mypy

ci(docker): add docker test and linting capability
  .dockerignore
  Makefile
  docker-compose-dev.yml
  docker/Dockerfile
  docker/entrypoint.sh
Due: yamllint

refactor: rename service
  app/photos/services/photo_consumer_service.py
  tests/unittests/apps/photos/services/test_photo_consumer_service.py
Due: black, mypy

refactor: add fixture
  tests/unittests/apps/photos/services/test_photo_consumer_service.py
Due: black, mypy

test(framework): switch from pytest-mock to mockito
  requirements/constraints.txt
  requirements/dev.txt
  tests/unittests/apps/photos/services/test_photo_consumer_service.py
Due: black, mypy

feat(loggin): add logging PoC
  app/common/ioc_containers.py
  app/common/services/logging_service.py
  app/common/services/logging_service_interface.py
  app/photos/services/photo_consumer_service.py
  config/settings/components/logging.py
  config/settings/components/photogrepo.py
  tests/unittests/apps/photos/services/test_photo_consumer_service.py
Due: black, mypy

feat(Photo): basics for Photo and PhotoModelService
  app/photos/models.py
  app/photos/services/photo_model_service.py
  app/photos/services/photo_model_service_interface.py
  setup.cfg
  tests/unittests/apps/photos/services/test_photo_model_service.py
  tests/unittests/apps/photos/test_models.py
Due: black, mypy

feat(file system service): add try catch for copy file action
  .pre-commit-config.yaml
  app/common/services/file_system_service.py
  app/photos/services/photo_analyzer_service_interface.py
  tests/unittests/apps/common/services/test_file_system_service.py
Due: yamllint, black, mypy

feat(file system service): add hash check
  app/common/hashers.py
  app/common/services/file_system_service.py
  app/common/services/file_system_service_interface.py
  tests/test_assets/md5hashtest.txt
  tests/unittests/apps/common/services/test_file_system_service.py
  tests/unittests/apps/common/services/test_hashers.py
Due: black, mypy

test(coverage): reduce limit to 90%
  setup.cfg
Due: none

feat(photo consumer service): add delete statement after succ. copy
  app/photos/services/photo_consumer_service.py
  tests/unittests/apps/photos/services/test_photo_consumer_service.py
Due: black, mypy

chore: spelling
  app/photos/models.py
Due: black, mypy

refactor(ioc): move init code to Djangos def ready portion
  app/common/__init__.py
  app/common/apps.py
  app/common/ioc_containers.py
Due: black, mypy

feat: add photo analyzer service skeleton
  app/common/ioc_containers.py
  app/photos/services/photo_analyzer_service.py
  app/photos/services/photo_analyzer_service_interface.py
  app/photos/services/photo_consumer_service.py
  tests/unittests/apps/photos/services/test_photo_analyzer_service.py
  tests/unittests/apps/photos/services/test_photo_consumer_service.py
Due: black, mypy

chore: add pytest env
  Makefile
  requirements/constraints.txt
  requirements/dev.txt
  setup.cfg
Due: none

chore: add path to pytest
  .vscode/settings.json
Due: none

chore(vscode): add skeleton for launch file in Django style
  .vscode/launch.json
Due: none

feat(Photo Analyzer): add more hashing functions and model fields
  app/photos/models.py
  app/photos/services/photo_analyzer_service.py
  app/photos/services/photo_analyzer_service_interface.py
  app/photos/services/photo_consumer_service.py
  app/photos/services/photo_model_service.py
  app/photos/services/photo_model_service_interface.py
  requirements/base.txt
  requirements/constraints.txt
  tests/unittests/apps/photos/services/test_photo_analyzer_service.py
  tests/unittests/apps/photos/services/test_photo_consumer_service.py
  tests/unittests/apps/photos/services/test_photo_model_service.py
Due: black, mypy

ci: add multiple ci workflows
  .github/label_config.yml
  .github/pr_autolabeling_config.yml
  .github/release_drafting_config.yml
  .github/workflows/changelog_updating.yml
  .github/workflows/code_checks.yml
  .github/workflows/env_vars.txt
  .github/workflows/label_creation.yml
  .github/workflows/pr_labeling.yml
  .github/workflows/release_drafting.yml
  CHANGELOG.md
Due: yamllint

ci: make the scripts dir available for CI
  scripts/.placeholder
Due: none

ci: split checks wf into pieces
  .github/workflows/code_checks.yml
  .github/workflows/docker_build.yml
Due: yamllint

ci: correct output name
  .github/workflows/code_checks.yml
Due: yamllint

ci: refactor reusable wf as composite action
  .github/actions/docker_build_dev/action.yml
  .github/workflows/code_checks.yml
  .github/workflows/docker_build.yml
Due: yamllint

ci: remove artifact download step
  .github/workflows/code_checks.yml
Due: yamllint

ci: temporarily lower coverage target
  setup.cfg
Due: none

chore: raise version of action
  .github/actions/docker_build_dev/action.yml
Due: yamllint

chore: include more files for dev image
  docker/Dockerfile
Due: none
